/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vitreous';
  src: url('/public/fonts/vitreous-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-sans;
}